html, body, svg
{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

.center
{
	margin:0 auto;
	width:67%;
}

.topright
{
	position: absolute;
	top:0; 
	right:0;
}

span, a {
	background-color:white;
}

.fileButton
{
	float:right;
}

#imageDrag:hover {
	border: #008800 1px solid;
}

#baseDrag:hover {
	border: #008800 1px solid;
}

#pickerDiv div {
	margin: 5px;
}

.bottomleft
{
	position: absolute;
	bottom:0;
	left:0;
}

.bottomleft > div {
	display: inline-block;
}

.noEvents {
	pointer-events:none;
}

.noEvents input, .noEvents img, .noEvents a {
	pointer-events:visible;
}

#statusDiv div {
	margin: 5px;
}

#gifFrames {
	display:none;
}

.bottomright
{
	position: absolute;
	bottom:0;
	right:0;
	z-index: 9999;
}

.topmiddle
{
	position: absolute; 
	top:0; 
	left:38%;
}

.innermiddle
{
	position: relative; 
	left: -50%;
}

#loading, #configurationPopup
{
	position: absolute;
	bottom:50%;
	right:50%;
	background-color:#888888;
	padding: 20px;
}

#blocker
{
	position:absolute;
	width:100%;
	height:100%;
	z-index:9999;
}

.hidden
{
	display:none;
}

.noIbar {
	cursor:default;
}

.forwardEvents { 
	pointer-events: none;
}

.gray {
	color: #bbb;
}

.black {
	color: black;
}

table, th, td {
	border: 1px solid black;
	text-align:left;
	vertical-align:text-top;
}

.centerText, th {
	text-align:center;
}