<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="StereoSketcher.html" />
            </files>
        </defaultDocument>
        <httpProtocol>
            <customHeaders>
                <clear />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
