<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="StereoSketcher.html" />
            </files>
        </defaultDocument>
		<httpProtocol>
		  <customHeaders>
			<add name="Cache-Control" value="no-cache,max-age=0" />
		  </customHeaders>
		</httpProtocol>
    </system.webServer>
</configuration>
